* {
    margin: 0;
    padding: 0;
}

body {
    font: 14px Helvetica, Sans-Serif;
    font-size: 1em;
    background-color: white;
    a:link { color: #EB7200; text-decoration: none; background-color: transparent }
    a:visited { color: #EB7200; text-decoration: none; background-color: transparent }
    a:hover { color: #EB7200; text-decoration: underline; background-color: transparent }
    a:active { color: #EB7200; text-decoration: underline; background-color: transparent }
}

img {
    width:100%;
}

.logo {
    width:15%;
}

table {
    width: 100%;
    border-collapse: collapse; 
    border: 1px solid #38160C; 
    /*    font: normal 11px verdana, arial, helvetica, sans-serif; */
    color: yellow; 
    background: #4A4A4A; 
}
td {
    border: 1px solid white; 
    padding: 1%; 
    color: white; 
}

table.tabmenu {
    background: #9ce url(../images/tlo.gif);
    padding: 0px; 
    border: 1px solid #fff;
    width: 100%;
}

td.tabmenu {
    padding: 0px; 
    background: #9ce url(../images/tlo2.gif);
}

table.filtr {
    background: #9ce url(../images/tlo.gif);
    padding: 0px; 
    border: 1px solid #fff;
    width: 100%;
}

td.klik {
    padding: 0px; 
    background: #9ce url(../images/tlo2.gif);
    text-align: right;
}

#page-wrap {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    background-color: white;
}

a {
    text-decoration: none;
}

h1 {
    color: #EB7200;
    text-align:center;
}
h5 {
    color:royalblue;
    text-align:center;

}
h6 { 
    position: relative; bottom: 15px;
    text-align:right;
}

ul, ul li {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
}

ul {
    float: left;
    background-color: #fff;
    padding: 0px 0 0px 1px;
    border: 0px solid #000;
}

ul li {
    float: left;
}

ul a:link, ul a:visited {
    text-decoration: none;
    display: block;
    font-weight: bold;
    background: #9ce url(../images/tlo.gif);
    color: white;
    padding: 10px 10px;
    /*    border-left: 1px solid #fff;*/
    border-right: 1px solid #fff;
}

ul a:hover {
    background-color: orange;
    background: orange url(../images/tlo2.gif);
}